.aside{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px 10px;
}


.aside li{
   font-family:'inter' !important;
   font-size: 15px;
   font-weight: 400;
}

.aside .active,
.nav-item:hover .nav-link{
    background-color: #262727 !important;
}

.aside i .bi{
    color: white;
}
.icon-terminal{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5px 0 20px;
}

.imagen{
    width: 100%;
    height: 150px;
    margin: 0 auto;
}

.imagen img{
    width: 100%;
    height: 100%;
    
}