
.cont-proy{
    display: flex;
    flex-flow: row wrap; /* los div se posicionan en filas conforme a su espacio */
    justify-content: center;
}

/* --------------------------------------------------- */
.card {
    margin-right: 40px;
    margin-bottom: 30px;
    width: 270px;
    background-color: #262727 !important;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 16px;
    overflow: hidden;
    /* font-family: 'inter', 'system-ui'; */
} 

.card-image {
    height: 150px;
    background-size: cover;
    background-position: center;
}
.card-image img{
    width: 100%;
    height: 150px;
    object-fit: cover;

}
.card-content {
    padding: 16px;
    color: white;
    text-align: center;
    min-height: 180px;
    max-height: 180px;
}

.card-title {
    font-size: 1.25em;
    margin: 0 0 8px;
    color: #FAD02E !important; 
}

.card-description {
    font-size: 0.9em;
    margin: 0 0 16px;
}

.card-button {
    /*background-color: #FAD02E;
    */background-image: linear-gradient(80deg, #FAD02E, #5a4a0e);
    border: none;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    /*transition: background-color 0.3s;
    */position: absolute;
    display: flex;
    justify-content: center;
    bottom: 12px;
    left: 15px;
    width: 80px;
    height: 30px;
    transition: transform 200ms;
    -webkit-transition: transform 200ms;
    -moz-transition: transform 200ms;
    -ms-transition: transform 200ms;
    -o-transition: transform 200ms;
}
.card-button a{
    color: black !important;
}

.card-button:hover {
    transform: scale(1.04);
    background-image: linear-gradient(80deg, #c7a51d, #c7a51d);
    font-weight: 500;
}

.lenguajes{
    position: absolute;
    bottom: 10px;
    right: 15px;
    
}
.lenguajes .bx{
    font-size: 1.5em;
    margin-right: 5px;
}
.card{
    transition: transform 500ms;
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -ms-transition: transform 500ms;
    -o-transition: transform 500ms;
}
.card:hover {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}